<section class="add-quiz">
  <mat-card class="add-quiz-header">Add Quiz</mat-card>
  <form class="add-quiz-form" [formGroup]="quizForm">
    <mat-form-field class="w-100">
      <input matInput placeholder="Title" formControlName="title" required>
    </mat-form-field>

    <mat-form-field class="w-100">
      <textarea rows='2' matInput placeholder="Description" formControlName="description" required></textarea>
    </mat-form-field>
    <div class="quiz-subsection">
      <mat-form-field class="w-31">
        <input type="number" matInput placeholder="Maximum Marks" formControlName="maxMarks" required>
      </mat-form-field>
      <mat-form-field class="w-31">
        <input type="number" matInput placeholder="Number of Questions" formControlName="numberOfQuestions" required>
      </mat-form-field>
      <mat-slide-toggle color="primary" class="w-31" formControlName="active">Publish</mat-slide-toggle>
    </div>

    <mat-form-field class="w-40">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of data.category" [value]="category.cid">
          {{category.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
  <div class="add-quiz-btn">
    <button [disabled]="!quizForm.valid" class="save-btn" (click)="saveForm()" mat-raised-button color="primary">Save</button>
    <button class="cancel-btn" (click)="cancel()" mat-raised-button>Cancel</button>
  </div>
</section>
