<div class="split-screen">
  <div class="left">
    <section class="copy">
      <h1>Explore your knowledge</h1>
      <p>Are you ready for the the next step</p>
    </section>
  </div>
  <div class="right">
    <form [formGroup]="registrationForm" class="signup-form">
      <section class="copy">
        <h2>Sign Up</h2>
        <div class="login-container">
          <p>Already have an account? <a routerLink="/"><strong>Log In</strong></a></p>
        </div>
      </section>

      <div class="field-container">
        <div class="input-container">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name" formControlName="username" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstname" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastname" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" formControlName="email" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Mobile No.</mat-label>
            <input type="tel" matInput placeholder="Mobile No." formControlName="phone" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="toggle? 'text' : 'password'" matInput placeholder="Password" formControlName="password" required>
            <span (click)="showPassword()" matSuffix class="material-icons-outlined eye-icon"
              [ngStyle]="{'color': toggle ? 'blue' : ''}"
              [matTooltip]="toggle ? 'Hide Password' : 'Show Password'"
            >
              {{toggle ? 'visibility' : 'visibility_off'}}
            </span>
          </mat-form-field>
        </div>

      </div>

      <button [disabled]="!registrationForm.valid" (click)="saveUser()" class="w-100" mat-raised-button color="primary">
        SIGN UP
      </button>
      <section class="copy-legal">
        <p>
          <span class="small"> By continuing, you agree to accept our <br> <a href="#">Privacy Policy</a> &amp; <a href="#">Terms of Service</a>.</span>
        </p>
      </section>
    </form>
  </div>
</div>

