<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" mode="over" opened>

    <img class="avatar mat-elevation-z8" src="../../../../assets/images/profile-2.jpg" alt="default profile image">
    <h4 class="name">John Smith</h4>
    <p class="designation">Admin</p>

    <mat-divider></mat-divider>

    <button *ngFor="let  item of menuItem" mat-button class="menu-btn"
      (click)="navigateTo(item.path)"
    >
      <span class="material-icons-outlined item-icon">
        {{item.icon}}
      </span>
      <span (click)="operationOnItemName(item.name)" class="item-name">{{item.name}}</span>

    </button>

  </mat-sidenav>

  <mat-sidenav-content class="ad-sidenav-content">
    <!--  Add it After  -->


    <div class="content mat-elevation-z4">
      <!-- COMPONENTS WILL GET LOAD HERE... -->
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
