mat-sidenav-container {
  height: 90%;
  // calc(100vh-65px);
}

mat-sidenav {
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: #fff;
  padding: 16px;
  text-align: center;
  position: fixed;

  // border-radius: 10px;
  // margin: 16px;
}

.ad-sidenav-content {
  overflow: hidden;
  .content {
    height: 94%;
    margin: 18px;
    padding: 1.5%;
    margin-left: 32px;
    font-size: 2rem;
    color: lightgray;
    border-radius: 10px;
    overflow: auto;

    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}

.menu-btn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  line-height: 2.5;
  padding-left: 0;
  .item-icon {
    font-size: 22px;
    padding-right: 4%;
  }
  .item-name {
    margin-left: 4%;
    font-size: 100%;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Roboto';
    // font-family: Monospace,Courier New;
  }
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.name {
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}
.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgray;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
