/* You can add global styles to this file, and also import other style files */
@import '~@ctrl/ngx-emoji-mart/picker';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #8888883f;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #88888814;
}

.w-100 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.w-31 {
  width: 31%;
}
